*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Open Sans", sans-serif;
}

.nav-content h6 {
    font-size: 10px;
}

.nav-link:hover {
    border: 3px solid #0D6EFD;
    border-radius: 2rem;
    color: #0D6EFD;

}

.header {
    background-image: url(../Imgs/banner.png);
    background-repeat: no-repeat;
}

.search-bar input {
    background-color: transparent;
    color: aquamarine;
}

.search-bar input::placeholder {
    color: aquamarine;

}

.search-bar input:focus {
    background-color: transparent;
    color: aquamarine;
    font-weight: bold;

}

.search-bar a {
    position: absolute;
    top: 55px;
    right: 20px;
    padding: 10px 50px;
}


.footer {
    padding: 50px 20px;
}

.sub-bar input {
    background-color: transparent;
    color: aquamarine;
}

.sub-bar input::placeholder {
    color: aquamarine;
}

.sub-bar input:focus {
    background-color: transparent;
    color: aquamarine;
    font-weight: bold;
}

.sub-bar a {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 11px 50px;
}

.footer a i {
    width: 35px;
    height: 35px;
    background-color: rgb(0, 185, 253);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s;
    margin: 20px 0;
}

.footer i:hover {
    background-color: rgb(3, 73, 99);
    color: aliceblue;
}

@media(max-width: 990px) {
    header .container {
        width: 75% !important;
    }

    .navbar-collapse ul {
        background-color: rgb(8, 181, 197);
        margin: 0 !important;
        padding-left: 48px !important;
        border-radius: 10px;
    }

    .navbar-collapse a {
        border-top: 1px solid #0D6EFD !important;
        border-radius: 0 !important;
        border-left: 0 !important;
        border-bottom: 0 !important;
        border-right: 0 !important;
        color: black !important;
    }

    .btn {
        padding: 11px 25px !important;
    }
}

/* Contact Style */
form .formStyle {
    background-color: transparent;
    border: 2px solid #0D6EFD;
}

form .formStyle::placeholder {
    color: #0D6EFD;
}

form .formStyle:focus {
    background-color: transparent;
    color: #0D6EFD;
    font-weight: bold;
}